{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<style>
    #save-div{
        text-align:right;
        margin-top:100px;
    }
    form{
        border-radius:.5rem;
        margin:auto;
        width:610px;
        padding-top:50px;
        padding-left:20px;
        padding-right:40px;
        padding-bottom:30px;
        background:rgba(252,242,242);
  box-shadow: 0px 0px 10px 5px #A2A2A2;

    }
    input {
        width: 20px;
        height: 20px;
      }
    textarea{
            border:none;
        width:193px;
                border-radius:5px;

        resize:none;
    }
    .page-wrapper{
    }
    .submit-div{
        text-align:right;
        margin-top:50px;
    }
    .input-a{
        width:100%;
        text-align:left;
    }
    label{
        width:60%;
    }
    .input-div{
        width:40%;
        text-align:right;
    }

</style>
<br><br>
<div class="page-wrapper">
                    <form method="POST">

                        {% csrf_token %}
                        <p class="input-a"><label>Hepatitis B virus Test (Check if positive):</label><label class = 'input-div'>{% render_field blood_test_form.hepaB %}</label></p>
                        <p class="input-a"><label>Hepatitis C virus Test (Check if positive):</label><label class = 'input-div'>{% render_field blood_test_form.hepaC   %}</label></p>
                        <p class="input-a"><label>HIV-1 Test (Check if positive):</label><label class = 'input-div'>{% render_field blood_test_form.hiv1  %}</label></p>
                        <p class="input-a"><label>HIV-2 Test (Check if positive):</label><label class = 'input-div'>{% render_field blood_test_form.hiv2  %}</label></p>
                        <p class="input-a"> <label>HTLV-I Test (Check if positive):</label><label class = 'input-div'>{% render_field blood_test_form.htlv1 %}</label></p>
                        <p class="input-a"><label>HTLV-II Test (Check if positive):</label><label class = 'input-div'>{% render_field blood_test_form.htlv2  %}</label></p>
                        <p class="input-a"> <label>Syphilis Test (Check if positive): </label><label class = 'input-div'>{% render_field blood_test_form.syphilis  %}</label></p>
                        <p class="input-a"> <label>West Nile virus Test (Check if positive): </label><label class = 'input-div'>{% render_field blood_test_form.westNile  %}</label></p>
                        <p class="input-a"> <label>Trypanosoma cruzi Test (Check if positive): </label><label class = 'input-div'>{% render_field blood_test_form.trypanosomaC  %}</label></p>
                        <p class="input-a"> <label>Babesia Test (Check if positive):</label><label class = 'input-div'>{% render_field blood_test_form.babesia  %}</label></p>
                        <div class = "submit-div">
                        <button class="btn btn--radius-2 btn-danger" type="submit">Submit</button>
                        </div>


                    </form>

    </div>


{% endblock content %}
