{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<style>
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 30px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
#submit-approve{
    background-color:skyblue;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;

}
</style>
<br><br>
<div class="container">
    {% if requests %}
    <H4 class="text-center">BLOOD REQUESTED</H4><br>
    {% if message %}
   <h5 class="text-center" style="color: red;"> {{message}}</h5><br>
{% else %}

{% endif %}
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="box">
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Age</th>
                
                <th scope="col">Reason</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Unit (in ml)</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in requests %}
            <tr>
                <td> {{t.patient_name}}</td>
                <td> {{t.mobile}}</td>
                <td>{{t.patient_age}}</td>
                
                
                <td>{{t.reason}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.unit}}</td>
                <td>{{t.date}}</td>
                <td>{{t.status}}</td>
                
                
                <td class="text-center">
                   
                    <button class="btn btn-primary badge-pill" style="width: 100px;"><a  style="text-decoration: none;color: white;" onclick="approveDonation({{ t.id }})">Approve</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'update-reject-status' t.id  %}">Reject</a> </button>
                    
                </td>
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
              <h3>Enter the number of units to donate</h3>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <br>
          <p style="text-align:center;"><input style="number" placeholder="units" id="units-to-donate"></p>
                      <p style="text-align:right;"><a style="number" id="submit-a-tag"><button  id="submit-approve">Approve</button></a></p>
            <br>

        </div>

      </div>

    </div>

{% else %}
<h5>No Blood Request By Patient / Donor !</h5>
{% endif %}

</div>
<script>
    var unitsToDonate = document.getElementById("units-to-donate").value;
    var modal = document.getElementById("myModal");
    var submitA = document.getElementById("submit-a-tag");
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
    }
    function approveDonation(pk){
        submitA.href = "../update-approve-status/" + pk + "/" + unitsToDonate;
        modal.style.display = "block";

    }
</script>
{% endblock content %}
