{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<style>
    form{
        margin:auto;
        background-color:red;
        width:50%;
        height:500px;
    }
    .page-wrapper{
        background-color:blue !important;
    }
</style>
<br><br>
<div class="page-wrapper">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Title</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field announcement_form.title|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Body</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field announcement_form.body|attr:'required:true'  class="input--style-5"  %}
                                </div>
                            </div>
                        </div>




                        <div>
                            <button class="btn btn--radius-2 btn-info" type="submit">Save</button>
                        </div>
                    </form>
    </div>


{% endblock content %}
